body {
    margin: 0;
    padding: 0;
    height: 50%;
    background-color: rgba(50, 115, 220, 0.3);
    color: #000000;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

ul {
    margin: 0 0 0 20px;
    list-style-type: disc;
}

.makeR {
    max-width: 100%;
    height: auto;
}

li {
    margin: 4px 0 5px 6px;
}

#container {
    margin: 0 auto;
    padding: 0;
    width: 650px;
    text-align: left;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

#header {
    margin: 0;
    padding: 0;
    height: 180px;
    background-color: #1f8dd6;
}

#header h1 {
    margin: 0;
    padding: 20px 0 0 20px;
    text-align: left;
    font-family: 'Special Elite', cursive;
    font-size: 1.8em;
    letter-spacing: .1em;
    color: #ffffff;
    font-weight: lighter;
}

#header h2 {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: .9em;
    font-weight: lighter;
    letter-spacing: .1em;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    opacity: 0.8;
}

#centerColumn {
    padding: 10px;
    background-color: #ffffff;
}

#centerColumn p {
    padding: 5px;
    text-align: center;
    padding: 1em 3em 2em;
}

#centerColumn h1 {
    margin: 0.7em 0 0.1em 0;
    padding: 10px 0 5px 0;
    color: #1f8dd6;
    font-family: 'Special Elite', cursive;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: .05em;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.galleryColumn {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 2em;
    font-size: 18px;
    text-align: center;
}

.galleryColumn h1 {
    font-family: 'Special Elite', cursive;
    color: #1f8dd6;
    font-size: 1.5em;
    font-weight: 60;
    margin: 1em 0.2em 0em;
    padding: .5em;
}

.galleryColumn h2 {
    margin: 1.3em 0;
    color: #34495E;
    font-size: 130%;
}

.galleryColumn p {
    padding: 1em 1em 3em;
    font-size: 0.8em;
    color: #7F8C8D;
    font-family: 'Lato', sans-serif;
}

.thumbnail {
    max-width: 70%;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

hr.solid {
    border-top: 3px solid #2D3E50;
    margin: 2rem 3rem;
    opacity: 0.7;
}

.fa {
    color: #1f8DD6;
}